.navbar{
    background-color: #1e88e5 !important;
    display: flex !important;
    margin-bottom: 30px;
}

.navbar a{
    color:white !important;
}

.navbar .btn-color{
    background-color: white;
    border-radius: 2px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}