<div class="row m-0 p-0">
    <div class="col-12 col-sm-12 col-md-4 col-lg-3 mx-0 mb-2">
        <div class="card" style="width: 100%;">
            <img src="../../assets/roupa-branca.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Calcas bambas</h5>
              <p class="card-text">cor azul. $250</p>
              <a href="#" onclick="alert('Partilhou o produto com sucesso')" class="btn btn-primary">share</a>
            </div>
          </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-3 mx-0 mb-2">
        <div class="card" style="width: 100%;">
            <img src="../../assets/roupa-branca.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Calcas bambas</h5>
              <p class="card-text">cor azul. $250</p>
              <a href="#" onclick="alert('Partilhou o produto com sucesso')" class="btn btn-primary">share</a>
            </div>
          </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-3 mx-0 mb-2">
        <div class="card" style="width: 100%;">
            <img src="../../assets/roupa-branca.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Calcas bambas</h5>
              <p class="card-text">cor azul. $250</p>
              <a href="#" onclick="alert('Partilhou o produto com sucesso')" class="btn btn-primary">share</a>
            </div>
          </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-3 mx-0 mb-2">
        <div class="card" style="width: 100%;">
            <img src="../../assets/roupa-branca.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Calcas bambas</h5>
              <p class="card-text">cor azul. $250</p>
              <a href="#" onclick="alert('Partilhou o produto com sucesso')" class="btn btn-primary">share</a>
            </div>
          </div>
    </div>
    
</div>